@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html,
body {
	background-color: #F5F5F5;
	font-family: 'Dosis', sans-serif;
}

#wrapper {
	width: 100%;
	height: 100%;
}

/*top part*/

#top {
	z-index: 2;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	background: #f5f5f5;
	-moz-box-shadow: 10px 0px 12px #C9C9C9;
	-webkit-box-shadow: 10px 0px 12px #C9C9C9;
	box-shadow: 10px 0px 12px #C9C9C9;
	overflow: hidden;
}

#head {
	width: 30px;
	position: relative;
	float: left;
	font-family: 'Playfair Display', serif;
	font-size: 1.7rem;
	padding-left: 7px;
	color: #3B170B;
	letter-spacing: 2px;
}

.link {
	text-decoration: none;
	color: #3B170B;
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
}

nav {
	position: relative;
	float: right;
}

nav ul {
	padding-top: 9px;
	list-style-type: none;
}

nav li {
	display: inline;
	padding: 30px;
	font-size: 1.2rem;
}

nav li a:link,
a:visited {
	text-decoration: none;
	color: #3B170B;
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav li a:hover,
a:active {
	color: #56826B;
}

a.anchor {
	display: block;
	position: relative;
	top: -80px;
	visibility: hidden;
}

header {
	clear: both;
	margin-top: 80px;
	width: 100%;
	height: 697px;
	background-image: url("../assets/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#head2 {
	z-index: 1;
	width: 240px;
	height: 220px;
	border: 1px solid #3B170B;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
	text-align: center;
	line-height: 220px;
	color: #F7F0FA;
	font-size: 2rem;
	background-color: rgba(0, 0, 20, 0.3);
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	letter-spacing: 3px;
}

/*content*/

#content {
	margin-top: 60px;
	width: 100%;
	height: auto;
}

/*section one*/

section#one {
	width: 60%;
	min-height: 260px;
	text-align: center;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}

section#one p {
	color: #2F3833;
	font-size: 1.25rem;
}

h1 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 2rem;
	color: #50325E;
	margin-bottom: 7px;
}

h1::first-letter {
	font-style: italic;
	letter-spacing: 5px;
	color: #744E85;
}

/*section two*/

section#two {
	width: 100%;
	height: 350px;
	background-color: gray;
	text-align: center;
	background-color: #EBEBEB;
}

#columns {
	margin: 0 auto;
	max-height: 400px;
	width: 80%;
	overflow: hidden;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.column {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-right: 35px;
	overflow: hidden;
	font-size: 1rem;
	color: #2F3833;
}

h2 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #50325E;
}

h2::first-letter {
	font-style: italic;
	letter-spacing: 4px;
	color: #744E85;
}

/*section three*/

section#three {
	width: 80%;

	margin: 0 auto;
	overflow: hidden;
}

h3 {
	font-family: 'Playfair Display', serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 1.6rem;
	margin-bottom: 50px;
	color: #50325E;
	margin-bottom: 70px;
}

h3::first-letter {
	font-style: italic;
	letter-spacing: 5px;
	color: #744E85;
}

/*figure*/
figure {
	display: inline-block;
	margin-right: 70px;
	margin-bottom: 35px;
}

#figwrap {
	margin-top: 70px;
	width: 100%;
	max-height: 300px;
	text-align: center;
	margin-bottom: 30px;
}

figure img {
	border-radius: 50%;
	width: 160px;
	height: 160px;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	filter: gray;
	-webkit-transition: all .6s ease;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

figure img:hover {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

figcaption {
	margin-top: 8px;
	text-align: center;
	color: #553D61;
}

/*section four*/

section#four {
	width: 100%;
	height: 450px;
	background-color: gray;
	text-align: center;
	background-color: #EBEBEB;
}

#kurse {
	margin: 0 auto;
	height: 700px;
	width: 80%;
	overflow: hidden;
	position: relative;
	top: 75%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.column2 {
	border: 1px solid rgba(80, 50, 94, 0.4);
	box-shadow: 5px 5px 5px #50325E;
	background: rgba(80, 50, 94, 0.3);
	display: inline-block;
	width: 20%;
	height: 300px;
	vertical-align: top;
	margin-right: 35px;
	overflow: hidden;
	font-size: 1rem;
	color: #2F3833;
	border-radius: 5px;
}

.column2:hover {
	border: 2px solid rgba(80, 50, 94, 0.9);
	box-shadow: 10px 10px 10px #4c4c4c;
}

.flexcenter {
	background: rgba(255, 255, 255, 0.4);
	height: 70px;
	display: flex;
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: center;
	-ms-flex-pack: justify;
	justify-content: center;
}

.boxk {
	padding-top: 10px;
	font-weight: bold;
	min-height: 150px;
}

.butt {
	background: #50325E;
	color: white;
	font-weight: bold;
	border: none;
	padding: 10px;
	border-radius: 5px;
	text-transform: uppercase;
}

.butt:hover {
	border: 2px solid rgba(80, 50, 94, 0.9);
	box-shadow: 10px 10px 10px #4c4c4c;
}

/*footer*/

footer {
	width: 100%;
	height: 120px;
	background-color: #E8E4EB;
	margin-top: 50px;
}

footer p {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	color: #352F38;
	font-style: italic;
	font-family: 'Playfair Display', serif;
}




/* from solution */


#wrapper {
	width: 80%;
	margin: 0 auto;
}

#top {
	width: 80%;
}

section#one {
	margin-top: 80px;
}

section#two {
	height: auto;
	padding-bottom: 20px;
}

caption {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;

}

table {
	margin: 20px auto;
	width: 60%;
	text-align: center;
}

/* form styling */

form {
	margin: 0 auto;
	width: 40%;

}

fieldset {
	border: 1px solid rgba(80, 50, 94, 0.4);
	border-radius: 5px;
	text-align: left;
	padding: 15px;

}

legend {
	color: #50325E;
	font-weight: bold;
}

label {
	display: inline-block;
	float: left;
	width: 10em;
}

label::after {
	content: ":";
}

input {
	margin-right: 5px;
}

input:focus:invalid {
	border: 3px solid #744e85;
}


.mrg {
	margin-bottom: 10px;
}

.errmsg {
	color: red;
	font-weight: bold;
}

.valmsg {
	color: green;
	font-weight: bold;
}



/* Own changes for JqueryValidation */

label.error {
	color: red;
}